@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


$mainColor: rgb(208,197,182);
$headerHeight: 8vh;
$textGray: rgb(144,144,144);
$titleFont: 'Playfair Display', serif;
$uppercaseTitleFont: 'Montserrat', sans-serif;
$subtitleFont: 'Merriweather', serif;

@mixin carouselButton {
    font-family: $titleFont;
    font-size: 22px;
    background-color: transparent;
    color: $mainColor;
    opacity: 0.9;
    padding: 13px 50px;
    border: 0.5px solid $mainColor;
    transition: linear 0.4s;
    width: 300px;
    &:hover{
        background-color: white;
        color: black;
        border: 1px solid transparent;
    }
}

.textGray{
    color: $textGray;
}

.uppercaseTitle{
    font-family: $uppercaseTitleFont;
    font-weight: 700;
    font-size: 18px;
}

.mainTitle{
    font-family: $titleFont;
    font-size: 75px;
    line-height: 90px;
}

.subtitle{
    font-family: $subtitleFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
}

.text{
    color: $textGray;
    font-family: $subtitleFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
}

.headerTitles{
    font-family: $subtitleFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}

.main-container{
    padding: 0 70px;
}

.textTitle{
    font-family: $titleFont;
}