@import "bootstrap/scss/bootstrap.scss";

$mainColor: rgb(208,197,182);
$headerHeight: 8vh;
$textGray: rgb(144,144,144);

@mixin carouselButton {
    background-color: transparent;
    color: $mainColor;
    padding: 12px 30px;
    border: 1px solid $mainColor;
    transition: linear 0.3s;
    width: 250px;
    &:hover{
        background-color: white;
        color: black;
        border: 1px solid transparent;
    }
}

.textGray{
    color: $textGray;

}